
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
            background-image: var(--body-color);
            background-attachment: fixed;
            --body-color: linear-gradient(rgb(214, 238, 238), rgb(102, 165, 165));
            --nav-bg: rgba(255, 255, 255, 0.4);
            --a-text-color: black;
            --bg-white: white;
            --text: black;
            --heading-text-color: black;
            --border-color: 2px solid rgb(0, 0, 0);
            
        }

        body.dark-theme {
            --body-color: linear-gradient(rgb(202, 253, 155), rgb(214, 210, 210));
            --nav-bg: rgba(8, 46, 90, 0.4);
            --a-text-color: white;
            --bg-white: #121212;
            --text: white;
            --heading-text-color: lightblue;
        }


        .navBarTop {
            background-color: var(--nav-bg);
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
            margin-left: 1rem;
            margin-right: 1rem;
            border-radius: 0.5rem;
        }

        .navBar a {
            color: var(--a-text-color) !important;
        }

        .box{
            background-image: var(--body-color);
            /* background-color: rgba(255, 255, 255, 0.4); */
            box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
        }

        .cardboxhere {
            background-color: var(--bg-white);
            color: var(--text);           
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
        }



        #wishlistPanel {
            background-color: var(--bg-white);
            color: var(--text);
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
        }
        
   